@font-face {
  font-family: "Shadowed Black";
  src: local("Shadowed Black"),
    url("./assets/oakForge-freecol/fonts/ShadowedBlack.ttf") format("truetype");
}

@font-face {
  font-family: "ElMessiri";
  src: local("ElMessiri"),
    url("../src/assets/oakForge-freecol/fonts/ElMessiri-Regular.ttf")
      format("truetype");
}

@font-face {
  font-family: "Felipa";
  src: local("Felipa"),
    url("../src/assets/oakForge-freecol/fonts/Felipa-Regular.ttf")
      format("truetype");
}
